# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/
.nyc_output/

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
out/

# IDE specific files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json

# Operating System
.DS_Store
Thumbs.db

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.env/
.venv/

# Database
*.sqlite
*.sqlite3

# Project specific
devhistory.txt
.history/